button {
    background-color: blue;
    cursor: pointer;
}
button:hover {
    background-color: aqua;
}
button:active {
    background-color: rgb(13, 64, 64);
}
html {
    height: 100%;
}
/*this is a comment*/
body {
    height: 100%;
    text-align: center;
    background-image: url('assets/cute.jpg');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.login-class {
    background-color: blue;   
}
#login-class {
    background-color: green;
}
#login-class:hover {
    background-color: rgb(171, 228, 171);
}